---
layout: layouts/base.njk
section: home
---

<section class="home-page">
  <section id="home">
    <div class="hero">
      <div class="hero__col__left">
        <h1 class="hero__title gradient-text">{{ home.title }}</h1>
        {% if home.subtitle %}
          <h2 class="hero__subtitle">{{ home.subtitle }}</h2>
        {% endif %}
        <span>
          <a
            class="hero__link"
            href="https://www.linkedin.com/in/emejiag/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Linkedin">
            {{ '/static/img/linkedin.svg' | svgContents("hero__icon") | safe }}</a>
          <a class="hero__link" href="https://github.com/ph81/" target="_blank" rel="noopener noreferrer" aria-label="Github">
            {{ '/static/img/github.svg' | svgContents("hero__icon") | safe }}</a>
          <a
            class="hero__link"
            href="https://www.dropbox.com/s/2uozheho06ml0ju/Resume2023.pdf?dl=0"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Resume">
            {{ '/static/img/doc.svg' | svgContents("hero__icon") | safe }}</a>
          <a class="hero__link" href="https://codepen.io/phearts/" target="_blank" rel="noopener noreferrer" aria-label="Codepen">
            {{ '/static/img/codepen.svg' | svgContents("hero__icon") | safe }}</a>
          <a
            class="hero__link"
            href="https://twitter.com/paperheartsmx"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Twitter">
            {{ '/static/img/twitter.svg' | svgContents("hero__icon") | safe }}</a>
        </span>
      </div>
      <div class="hero__col__right">
        <img class="hero__image shadow" src="{% if home.image %}{{ home.image }}{% else %}https://source.unsplash.com/random/600x600{% endif %}" aria-label="{{ home.image_alt }}" width="600px" height="600px" loading="lazy"></div>
      </div>
      <div class="hero__sections">
        <a href="#projects">
          <span class="button hero__button__primary">My projects</span>
        </a>
        <a href="/contact">
          <span class="button hero__button__outline">Get in touch</span>
        </a>
      </div>
    </section>
    <section id="projects">
      <h2>Projects</h2>
      {% set projectlist = collections.project %}
      {% include "components/projectlist.njk" %}
    </section>
    <!-- <h2>Articles</h2> {% set postslist = collections.post %} {% set show_postslist_tags = false %} {% set limit = 3 %}
    {% include "components/postslist.njk" %} -->
  </section>