#home {
  max-width: 900px;
  margin: 0 auto;
}

.home-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px 20px;
}

@media (min-width: 1024px) {
  .home-page {
    padding: 20px 40px;
  }
}
/*
.home-page__bg-square {
  display: none;
}


@media (min-width: 1024px) {
  
  .home-page__bg-square {
    display: block;
    position: absolute;
    left: auto;
    top: 60px;
    right: 0;
    bottom: auto;
    width: 100%;
    height: 100%;
    max-height: 70%;
    max-width: 35%;
    min-width: 300px;
    border-radius: var(--border-radius);
    background-color: var(--color-bg-accent);
    z-index: -1;
  }
  
}
*/

.hero {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 70px;
  max-width: 100vw;
  max-height: 80vh;
  margin: 40px auto;
}

@media (min-width: 1024px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
  }
}

.hero__full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
}

@media (min-width: 1024px) {
  .hero__full {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hero__col__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__col__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .hero__image {
    width: 240px;
    height: 240px;
  }
}

.hero__image {
  margin-bottom: 0;
  border-radius: var(--border-radius);
  transition: filter 0.4s ease-out;
}

.hero__icon {
  padding: 8px;
  width: 32px;
  height: 32px;
  margin-bottom: 2.5rem;
  fill: var(--color-text);
}

.hero__scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero__link:hover {
  border-bottom: none;
}

.hero__title {
  margin-top: 0;
}

@media (min-width: 1024px) {
  .hero__title {
    font-size: 3.3em;
  }
}

.hero__subtitle {
  margin-top: 0;
  text-align: center;
}

@media (min-width: 1024px) {
  .hero__subtitle {
    margin-top: 3rem;
  }
}

.hero__sections {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 170px;
  gap: 24px;
}

.hero__sections a:hover {
  text-decoration: none;
  border-bottom: none;
}

@media (max-width: 480px) {
  .hero__sections {
    flex-direction: column;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1.4em;
  font-size: 1.7rem;
  transition: transform 0.2s ease-in-out;
}

.hero__button__primary {
  color: var(--color-text-alt);
  background-color: var(--color-bg-secondary);
  border: 2px solid var(--color-bg-secondary);
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  transition: transform 0.2s linear;
}

.hero__button__primary:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
  transform: translateY(-2px);
  transition: transform 0.1s linear;
}

.hero__button__outline {
  color: var(--color-text-alt);
  background-color: var(--color-bg-secondary);
  border: 2px solid var(--color-bg-secondary);
  border-radius: 5px;
  transition: opacity 0.4s ease-in-out;
  transition: transform 0.2s linear;
}

.hero__button__outline:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
  transform: translateY(-2px);
  transition: transform 0.1s linear;
}
