<footer class="site-footer">
  <small>
    Made with 💜 by Edith
  </small>
</footer>
{% set js %}
{% include "assets/js/darkmode.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=G-BQHXKEZM5J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-BQHXKEZM5J');
</script>